@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
/*initialisation*/

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/*header*/

/*main*/

/*introduction*/

.introduction {
  /*boxmodel*/
  margin: 2% 10%;
  /*flexbox*/
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 230px;
}

.introduction div {
  display: flex;
  flex-direction: row;
}

div p {
  padding: 2%;
  line-height: 1.75;
}

h2 {
  color: #00b39b;
}
ul {
  list-style: none;
}

li a {
  text-decoration: none;
  color: #ababab;
  font-weight: bold;
}

.navbar {
  background-color: white;
  padding: 1rem 0;
}
